# Lake database (Person B)
LAKE_HOST=
LAKE_PORT=5432
LAKE_DB=
LAKE_USER=
LAKE_PASSWORD=

# Warehouse database
WAREHOUSE_HOST=
WAREHOUSE_PORT=5432
WAREHOUSE_DB=
WAREHOUSE_USER=
WAREHOUSE_PASSWORD=

# ERP API
ERP_API_KEY=
ERP_API_BASE_URL=https://hngstage8da-55c7f5f769c8.herokuapp.com
