ERP_API_KEY=your_api_key_here

LAKE_DB_HOST=lake_postgres
LAKE_DB_PORT=lake_port
LAKE_DB_NAME=lake
LAKE_DB_USER=lake_user
LAKE_DB_PASSWORD=lake_pass

AIRFLOW_DB=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow

WAREHOUSE_DB_HOST=warehouse_postgres
WAREHOUSE_DB_PORT=warehouse_port
WAREHOUSE_DB_NAME=warehouse
WAREHOUSE_DB_USER=warehouse_user
WAREHOUSE_DB_PASSWORD=warehouse_pass