ERP_API_KEY=your_api_key_here

LAKE_DB_HOST=localhost
LAKE_DB_PORT=5433
LAKE_DB_NAME=lake
LAKE_DB_USER=lake_user
LAKE_DB_PASSWORD=lake_pass

AIRFLOW_DB=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow

WAREHOUSE_DB_HOST=localhost
WAREHOUSE_DB_PORT=5435
WAREHOUSE_DB_NAME=warehouse
WAREHOUSE_DB_USER=warehouse_user
WAREHOUSE_DB_PASSWORD=warehouse_pass
